.cameraWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.cameraButton {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}